---
---

@import "{{ site.theme }}";

section.page-header {
    padding: 2rem 3rem;
}
section.page-header .btn {
  display: none;
}

.ex-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

@font-face {
  font-family: transfontmer;
  src: url("../SFTransRobotics.ttf");
}

h1.project-name span {
  font-family: transfontmer;
  font-weight: normal;
}
